 <section class="container">
      <nav class="menu">
        
      </nav>
      <div class="panel">
        
      </div>
      <div class="hero">
        <div class="square cat cat-a">
          
        </div>
        <div class="square cat cat-b">
          
        </div>
        <div class="square cat cat-c">
          
        </div>
        <div class="cat cat-d">
          
        </div>
        <div class="cat cat-e">
          
        </div>
        <div class="circle cat cat-f">
          
        </div>
        <div class="cat cat-g">
          
        </div>
        <div class="circle cat cat-h">
          
        </div>
        <div class="circle  cat cat-i">
          
        </div>
      </div>
      <div class="footer">
        
      </div>
    </section>

<style>
  .circle {
    background-image: url( <%= image_url('cat_b.png') %> );
  }
  .square {
    background-image: url( <%= image_url('cat_a.png') %> );
  }
</style>