/*
 *= require_tree .
 *= require_self
 */
 :root {
  --color-title: #272727;
  --color-primary: #c0c0c0c0;
  --color-primary-text: #000;
  --color-secondary-text: rgb(63, 0, 180);
  --color-body: #faf6f6df;
  --color-card: #b4ddffdf;
  --color-label: #272727;
  --color-placeholder: #f0f0f0f0;
}

* {
  margin: 0;
  padding: 0;
}
body{
  background-color: var(--color-body);
}
._container {
  height: 100vh;
  display: grid;
  /* grid-gap: 10px; */
  grid-template-columns: [c-inicio] 300px [c-panel-1] 1fr [c-hero-1] 1fr [c-hero-2] 1fr [c-fin];
  grid-template-rows:
    [r-inicio] 0px [r-panel-1] 1fr [r-panel-2] minmax(
      70px,
      100px
    )
    [r-fin];
  grid-auto-flow: row;
}
.item {
  display: grid;
  /*border: 2px dashed ;;*/
}
.item p {
  align-self: center;
}
.menu {
  grid-column: c-inicio / c-fin;
  grid-row: r-inicio / r-panel-1;
  /*border: 2px dashed crimson;*/
}
.invited {
  grid-column: c-panel-1 / c-hero-2;
  grid-row: r-panel-1 / r-panel-2;
  height: 100%;
}
.hero {
  /*grid-area: hero;*/
  grid-column: c-panel-1 / c-fin;
  grid-row: r-panel-1 / r-panel-2;
  /*border: 2px dashed rgb(128, 100, 251);*/

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:  
  "cat_a cat_b cat_c"
  "cat_d cat_e cat_f"
  "cat_g cat_h cat_i"
  ;
}
.panel {
  /*grid-area: panel;*/
  grid-column: c-inicio / c-panel-1;
  grid-row: r-panel-1 / r-panel-2;
  /*border: 2px dashed rgb(134, 108, 253);*/
}
.footer {
  grid-column: c-inicio / c-fin;
  grid-row: r-panel-2 / r-fin-2;
  /*border: 2px dashed rgb(230, 94, 32);*/
  /*grid-area: footer;*/
}

.cat-a {
  border: 1px dashed deepskyblue;
  grid-area: cat_a;
}
.cat-b {
  border: 1px dashed deepskyblue;
  grid-area: cat_b;
}
.cat-c {
  border: 1px dashed deepskyblue;
  grid-area: cat_c;
}
.cat-d {
  border: 1px dashed deepskyblue;
  grid-area: cat_d;
}
.cat-e {
  border: 1px dashed deepskyblue;
  grid-area: cat_e;
}
.cat-f {
  border: 1px dashed deepskyblue;
  grid-area: cat_f;
}
.cat-g {
  border: 1px dashed deepskyblue;
  grid-area: cat_g;
}
.cat-h {
  border: 1px dashed deepskyblue;
  grid-area: cat_h;
}
.cat-i {
  border: 1px dashed deepskyblue;
  grid-area: cat_i;
}
.cat {
  display: flex;
  align-items: center;
  justify-content: center;
}
._container .hero .cat {
  background-repeat:no-repeat;
  background-position: center center;
}
.cat:hover {
  color: red;
}
._container ul{
  background-color: rebeccapurple;
}
._container .users
{
  color: rebeccapurple;
  margin: 0px 0px 0px  0px;
  transition: margin .35s;
}
._container .users:hover
{
  color: purple;
  margin: 1.5px 15px 1px  1px;
  transition: margin .25s;
  border: 2px dashed purple;
}